table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 0.75rem 0.25rem;
}

tr:nth-child(even) {
  background-color: #f2f2ff;
}

tr:not(:first-child):hover {
  background-color: #dddddd;
  cursor: pointer;
}

tr:first-child > th:first-child {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

th:first-child:hover {
  cursor: pointer;
}

th {
  padding: 0.75rem 0.25rem;
  text-align: left;
  background-color: cadetblue;
  color: white;
}

.desc {
  transform: rotate(0deg);
}

.asc {
  transform: rotate(180deg);
}
